{{#each review}}
<div style='margin: 10px 0 20px 0;'>
	<p style='font-size: 16pt;'>{{message}}</p>
	<p style='font-size: 14pt; margin-left: 70%;'><b>{{name}}</b></p>
	<p style='font-size: 14pt;  margin-left: 70%;'><b>{{email}}</b></p>
	<p style='font-size: 10pt;  margin-left: 70%;'><i>{{date}}</i></p>
<div>
{{/each}}