<ul>
{{#each specialProp}}
	<li><p>{{describe}}</p>
		<p>действительно до {{durancy}}
		<a href='#' title='удалить' class='deleteSpecialProp redLink' data-id={{_id}}><span class='glyphicon glyphicon-trash'/></a></p>
	</li>	
{{/each}}
</ul>