<form id="changeCategory" class="form-inline" action="/admin/changecategory" method="post" enctype="multipart/form-data" style="margin-left: 5%;">
   <div class="form-group" style='display: none;'>
	<div class="input-group">
      <input type="login" class="form-control" id="inpuCategoryId" name='categoryId' readonly>
	  </div>
    </div>
   <div class="form-group">
	<div class="input-group">
      <input type="login" class="form-control" id="inputNewCategory" name='category' placeholder="Категория" required>
	  </div>
    </div>
	<div class="form-group">
		<div class="input-group">
			<input type="number" class="form-control" id="inputRate" name='rank' placeholder="Рейтинг" value='{{rank}}'>
		</div>
	</div>
	<div class="form-group">
			<label for="upoadImage">Изображение</label>
			<input id='upoadImage' type="file" class="btn" name="upload" accept="image/jpeg"><br>
	</div>
    <div class="form-group">
		<input class="btn" type="submit" value="Изменить"></input>
		<a class="btn" onclick="$('#changeCategoryFormPlace').empty();">Закрыть</a>
	</div>
</form>