<p style='font-size: 21pt; margin-left: 20px;'>О компании</p>
<div class='text'>
<br>
<p>В Интернет-магазине zakaz-teddy.ru представлена продукция ведущих брендов плюшевых игрушек мира таких как 
<b class='active'>Carte Blanche (серии Me To You, Blue Nose Frends), Hallmark Cards (серии Forever Friends), Boofle, Fizzy Moon, BEARINGTON COLLECTION</b>. 
Никаких подделок – только оригинальная продукция. Все товары сертифицированы и безопасны для здоровья вас и ваших близких.</p>
<br>
 

<p>Благодаря широкому ассортименту вы можете подобрать подарки и сувениры для любого праздника или знаменательной даты своим близким, родным и друзьям.
 В каталогах сайта регулярно появляются новинки из последних коллекций компаний-производителей.</p>
<br>
 

<p>Для нас важно, чтобы каждый клиент остался доволен, поэтому мы постоянно вносим улучшения в свою работу и всегда открыты к любым предложениям и пожеланиям.</p>
<br>
 

<p>Наш интернет-магазин работает по <b class='active'>Санкт-Петербургу, Москве и другим городам России</b>.
 Для жителей Петербурга и Москвы предусмотрены курьерская доставка либо самовывоз, для жителей других городов товары доставляются службами доставки или 
 почтой до ближайшего почтового отделения.</p>
<br>
 

<p>Если вы хотите сделать заказ в нашем Интернет-магазине, 
но сомневаетесь с выбором или не знаете, как именно сделать заказ,
 то позвоните нам по телефону <b class='active'>8-950-00-99-33-7</b>.
 Опытный консультант всегда подскажет и ответит на все интересующие вас вопросы.</p>
 </div>