<p style='font-size: 21pt; margin-left: 20px;'>Статьи</p>
<div class='text'>
<br>
<p><b class='active'>Как появился мишка Тедди Me To You (Легенда)</b></p>
<br>
 <p>Вдали стоял заброшенный домик у которого местами прогнила и провалилась крыша. Была прохладная пора. 
 Зима была близко. Заброшенные вещи мокли под дождем: пустой потертый стол у разбитого окна, стулья на которых когда-то сидели люди,брошенный под кроватью мячик, перекошенная картина при входе висела на стене. 
 Часть крыши провалилась и придавила плюшевого медвежонка Тедди, который никак не мог пошевелиться. Ему было очень грустно и тоскливо, а ему хотелось тепла и домашнего уюта.

 Становилось все холоднее и холоднее и пошел снег. Одна из  снежинок попала мишке на нос, потом полетели еще снежинки и намочили носик. 
 Вскоре было очень холодно, мишка стал замерзать и носик стал синеть. От мороза Мишка поменял свою окраску с бурого на серый.

 Весной, когда уже стало заметно теплее, неподалеку гуляла маленькая девочка. Как любому ребенку ей стало интересно и любопытно, и она заглянула внутрь. 
 Мишка Тедди не остался незамеченным. Ее очень удивил его синий носик и серая окраска. Сначала мишка даже испугался, что девочка его бросит, но это было напрасно.
 Маленькая девочка обратила на него внимания, и он пришелся ей по душе, и она всем сердцем полюбила его. 
 Требовалось лишь немного- отремонтировать Тедди и добрая бабушка девочки с радостью заштопала мишку Тедди, в местах где потрепалась шерстка сделала заплатки. Мишка получился уникальным в своем роде. 
 Чувствуя любовь и тепло этой семьи он навсегда остался с ними. Девочка произнесла тогда: "Я люблю тебя мой милый"</p>

<br>
<p><b class='active'>Как мишка Тедди обрел свое имя</b></p>
<br>

<p>Мишка Тедди получил свое имя благодаря вот такой забавной истории.В  октябре  1902г. президент США Теодор Рузвельт посещал штаты Миссисипи и Луизиана по государственным делам.
Так как президент был страстным охотником, он решил поохотиться в этих прекрасных лесах,но по воле случая охота не удалась.

Чтобы президент не уехал разочарованным было принято решение достать срочно черного медведя и привязать его к дереву,что и было осуществлено
.Тем самым порадовать самого главного человека страны,президент все-таки.Но Теодор Рузвельт проявил благосклонность, и отказался стрелять в ни в чем не повинное животное.

Весть об этом разлетелась по всем Соединенным Штатам Америки и даже было напечатано газете "Washington Post",иллюстрируя его карикатурой Клиффорда Берримана ,
подпись под которой  гласила: «Drawing the line in Mississippi»,что в переводе означает «Демонстрация в Миссисипи стандартов порядочности».
 Затем  другие газеты последовали примеру"Washington Post". Одна из газет попалась на глаза русскому эмигранту Моррису Миктому,который являлся владельцем магазина игрушек в Нью-Йорке.
 Мишку изобразили маленьким с большими ушами  на страницах газеты.

Первого мишку по рисунку сделала его жена Роуз.Плюшевый медвежонок оказался на витрине  магазина  рядом с вырезкой из газеты. Многие прохожие заходили посмотреть столь удачливого медвеженка. 
В честь президента США он получает имя "Медвежонок Тедди". Моррис просит разрешения у президента присвоить его имя медвежонку на что тот соглашается. . 
В 1903 году Моррис Миктом  открыл игрушечную фирму "Ideal Novelty and Toy Co", которая начинает производство мишек Тедди.</p>


<br>
<p><b class='active'>Как создаются плюшевые мишки</b></p>
<br>

<p> Мягкая игрушка во все времена дарила радость и любовь как взрослым так и детям. Как приятно получить от любимого человека в подарок плюшевую игрушку, ведь с ней связаны самые лучшие воспоминания.
 Бывает что она возвращает нас обратно в детство. Дети благодаря мягким игрушкам впитывают любовь, тепло, доброту. Приятно руками ощущать эту неподдельную мягкость.

 Плюшевые мишки уже более ста лет радуют нас, привносят в наш дом уют, гармонию. За этот период менялся и материал из которого их делают. 
 Вначале 20 века мишка делался исключительно из натурального меха. Но шли годы, спрос на них рос, начался настоящий бум.
 Естественно делать сотни тысяч мишек из меха было бы делом неблагодарным по отношению к настоящим зверям, их хотели сберечь от неминуемой гибели. 
 Выход искали и нашли- им стал всеми полюбившийся плюш. Плюшевый мишка всеми полюбился также как и мишка из натурального меха.
 Материалом для изготовления мишки служил мохер, который было принято проклеивать на специальной тканевой основе.
 Глазки миши делали вначале матовыми пуговицами, а сейчас можно встретить прозрачные, а также с нарисованной радужкой глаза. 
 Первые мишки выпускались с носиком вышитым полностью нитками, сейчас же его делают или пластиковым,или стеклянным.
 Для того чтобы медвожонок Тедди выглядел более мягким и объемным в его набивке использовались овечья шерсть, копра или древесные стружки. 
 В наши дни широко применяются комфорель, стеклянный или минеральный гранулят.</b>
 </div>