<p style='font-size: 21pt; margin-left: 20px;'>Как заказать</p>
<div class='text'>
<br><br>
<p><b class='active'>Заказ вы можете оформить  
четырьмя способами: </b></p>
<br><br>
<ol>
<li>  На нашем сайте <a href='/'><b class='active'>zakaz-teddy.ru</b></a>  
Для этого необходимо нажать рядом с понравившимся товаром кнопку "в корзину", далее перейти слева на сайте по ссылке "в корзину", 
выбрать способ доставки и оставить ваши контактные данные для того чтобы с вами связаться для подтверждения заказа. </li>
<br><br>

<li> Позвонить по телефону <a href="tel:89500099337"><b class='active'>8-950-00-99-33-7</b></a> и так же оформить заказ продиктовав менеджеру что вы желаете заказать. </li>
<br><br>

<li> На нашем сайте вы также можете оставить заявку на <b class='active'>обратный звонок</b>, 
нажав <a  href='#' onclick='jumpToCallbackButton(); return false;'><b class='active'>кнопку розового цвета</b></a> в верхнем правом углу и написав там свой номер телефона. 
Вам перезвонит менеджер в указанное вами время и ответит на все вопросы и поможет оформить заказ. </li>
<br><br>

<li> Написать на электронную почту <a href="mailto:zakaz-teddy@mail.ru"><b class='active'>zakaz-teddy@mail.ru</b></a></li>
</ol>
</div>
<script>
	function jumpToCallbackButton() {
		var cbButton = document.getElementById("phoneNumber");
		cbButton.scrollIntoView(true);
		for (var blink =0; blink<3; blink++) {
			$('.orderCallback').animate({opacity: 0.5}, 600);
			$('.orderCallback').animate({opacity: 1}, 600);
		}
	}
</script>
