<form id="callbackForm" action="/ordercallback" method="post" style="margin-left: 5%;">
    <div class="form-group callbackFormGroup">
		<div class="input-group">
			<input type="text" class="form-control" id="inputName" name='name' placeholder="Ваше имя" required>
		</div>
	</div>
	 <div class="form-group callbackFormGroup">
		<div class="input-group">
			<input type="tel" class="form-control" id="inputPhone" name='phone' placeholder="Ваш телефон" required>
		</div>
	</div>
    <div class="form-group">
		<input class="btn btn-callback" type="submit" value="Заказать"></input>
 </div>
</form>