<form id='categoryFilterForm' class='form-inline'>
{{#each category}}
	<input type="checkbox" name="categoryFilter" value='{{_id}}' checked>
	<label>{{name}}</label>
{{/each}}	
 <div class="form-group">
	<input class="btn btn-primary" type="submit" value="Применить фильтр"></input>
	<a class="btn btn-default showHits">Показать хиты</a>
	<a class="btn btn-default uncheckAll">Снять все</a>
	<a class="btn btn-default checkAll">Отметить все</a>
</div>
</form>