<h3 class='text-center'>КАТАЛОГ</h3>
<div class='col-md-offset-1'>
<button class='btn btn-primary' id='showAddProductForm'>Добавить продукт</button> 
</div>
<div id='categoryFilterPlace' class='text-center'>
</div>
<div id='addProductFormPlace' class='hidden'>
</div>
<div class='col-md-6 col-md-offset-1' style='margin-top: 30px;'>
<table id='productsList' class="table table-striped table-responsive table-condensed">

</table>
</div>
<div id='changeProductFormPlace' class='formPlace'>
</div>
<script src='/scripts/catalogue.js'>