<h3 class='text-center'>НАСТРОЙКИ</h3>

<form class='form-inline changePassword' action="/admin/changepassword" method="post" enctype="multipart/form-data">
<p>Изменение пароля</p>
<div class='form-group'>
	<input type="password" class="form-control" id="inputOldPass" name='oldPass' placeholder='Старый пароль' required>
</div>
<div class='form-group'>
	<input type="password" class="form-control" id="inputNewPass1" name='newPass1' placeholder='Новый пароль' required>
</div>
<div class='form-group'>
	<input type="password" class="form-control" id="inputNewPass2" name='newPass2' placeholder='Новый пароль повторно' required>
</div>
</div>	
	<input class="btn" type="submit" value="Изменить" style="opacity: 1 !important;"></input>
</form>	

<form class='form-inline changeEmail' action="/admin/changeemail" method="post" enctype="multipart/form-data">
<p>Изменение почты менеджера</p>
<div class='form-group'>
	<input type="email" class="form-control" id="inputEmail" name='email' placeholder='E-Mail' required>
</div>
</div>	
	<input class="btn" type="submit" value="Изменить" style="opacity: 1 !important;"></input>
</form>	
<script src='/scripts/options.js'> </script>