<h3 class='text-center'>Отзывы</h3>
<div>
<form id="choosePage" class="form-inline" action="/admin/choosepage" enctype="multipart/form-data" method="post" style="margin-left: 5%;">
   <select name='page' class='form-control'>
		<option value='about'>О компании</option>
		<option value='articles'>Статьи</option>
		<option value='contacts'>Контакты</option>
		<option value='fedex'>Доставка и оплата</option>
		<option value='howorder'>Как заказать</option>
		<option value='cart'>Корзина</option>
	</select>
    <div class="form-group">
		<input class="btn btn-default" type="submit" value="Редактировать"></input>
	</div>
</form>
</div>
<div class='changePageFormPlace'>
</div>
<script src='/scripts/edit.js'></script>